<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>528097171374-oql0v3dkumvu3m3r59u9llak8amdl7l3.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.528097171374-oql0v3dkumvu3m3r59u9llak8amdl7l3</string>
	<key>API_KEY</key>
	<string>AIzaSyAA27K7jIUnOwLboLRXGhomGGmeQu1xdOQ</string>
	<key>GCM_SENDER_ID</key>
	<string>528097171374</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>kan.nakamura0711-gmail.com.login</string>
	<key>PROJECT_ID</key>
	<string>login-f141a</string>
	<key>STORAGE_BUCKET</key>
	<string>login-f141a.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:528097171374:ios:4e66191314cf7197901a3f</string>
	<key>DATABASE_URL</key>
	<string>https://login-f141a.firebaseio.com</string>
</dict>
</plist>